body{
    background-color: rgb(213, 213, 223);
}

.formulario{
    background-image: url('assets/image1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

